ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-family: "Oswald", sans-serif;
  font-size: large;
}

li a:hover {
  background-color: #04aa6d;
}
.active {
  background-color: #0a6544;
}
.history {
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 5px rgb(181, 112, 112);
}
.banner {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
}
.container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-left: 75px;
  margin-right: 90px;
  padding: 10px;
}
p {
  font-family: "Roboto Slab", sans-serif;
}
p:hover {
  background-color: beige;
}
.p1 {
  padding: 20px;
  border: 2px solid lightcoral;
  background-color: rgba(173, 162, 79, 0.575);
  border-radius: 30px;
  box-shadow: 5px 4px 3px grey;
}
.p2 {
  margin-left: 10;
  margin-right: 10;
  padding: 20px;
  background-color: rgba(173, 162, 79, 0.575);
  border-radius: 30px;
  box-shadow: 5px 4px 3px grey;
}
.logo {
  margin-right: 10px;
  align-self: center;
  box-shadow: 5px 4px 3px grey;
}
.hwcontainer {
  display: grid;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.h1grid {
  grid-row-start: 5;
  grid-column-start: 4;
  grid-row-end: 6;
  grid-column-end: 6;
}

.homeworkContentGrid {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 100px);
  grid-gap: 5px;
}
.hwleftimage {
  grid-column: 1 / 3;
  grid-row: 1 /3;
  box-shadow: 5px 4px 3px grey;
}

.hwrightimage {
  grid-column: 6 / auto;
  grid-row: 6 / auto;
  box-shadow: 5px 4px 3px grey;
}
.hwgridcontent1 {
  background-color: antiquewhite;
  border: 2px solid lightcoral;
  border-radius: 10px;
  box-shadow: 5px 4px 3px grey;
  padding: 5px;
  grid-column: 2 / 8;
  grid-row: 3 / 5;
  z-index: 1;
}
.hwgridcontent2 {
  background-color: antiquewhite;
  border: 2px solid lightcoral;
  border-radius: 10px;
  box-shadow: 5px 4px 3px grey;
  padding: 5px;
  grid-column: -2 / -8;
  grid-row: 5 / 7;
}
